@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--violet) url(./images/bg-mobile.svg) center top/100% auto no-repeat;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

#logo {
  max-width: 30vw;
}

#mockup {
  max-width: 82vw;
}
header {
  padding: 20px 0;
  display: grid;
  justify-content: center;
  grid-auto-rows: auto auto;
  row-gap: 15vw;
}
section > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 2vw 0 0.6em;
  max-width: 23ch;
}
section > p {
  margin: 0 0 1.5em;
  max-width: 50ch;
}
section > a {
  font-size: 70%;
  background-color: white;
  padding: 1em 7em;
  border-radius: 2em;
  color: var(--violet);
  text-decoration-line: none;
  box-shadow: 3px 3px 10px hsla(0, 000%, 10%, 60%);
  margin: 0 0 8em;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8vw;
}
.social {
  width: 100%
}
ion-icon {
  border: 0.25px solid white;
  transform: scale(1.5);
  padding: 0.25em;
  margin: 0 3vw;
  border-radius: 3em;
}
ion-icon:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}

a:hover {
  background-color: var(--soft-magenta);
  color: white;
}

.attribution {
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: lightgrey; 
  font-family: monospace;
}

@media only screen and (min-width: 780px) {
  body {
    background-position: left center;
    background-size: cover;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    margin: 5vw;
  }
  #logo {
    max-width: 30%;
  }
  #mockup {
    max-width: 90%;
  }
  header {
    row-gap: 0;
    grid-auto-rows: 12vh auto;
  }
  section > h2 {
    padding: 3.5em 0 0;
    font-size: 200%;
    max-width: 20ch;
  }
  section > p {
  }
  section {
    align-items: flex-start;
    text-align: left;
    padding: 0;
  }
  .social {
    margin: 5em 0 0 0;
    text-align: right;
  }
  ion-icon {
    margin: 0.6em;
  }


  footer {
    margin: 10em 0 0 0;
  }
}